{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{% block title %} Haven Healthcare Center {% endblock title %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="{% static 'dist/output.css' %}" />

    <script src="https://cdn.jsdelivr.net/npm/@reduxjs/toolkit@2.2.1/dist/redux-toolkit.umd.js"></script>

    <script src="{% static 'js/cartStore.js' %}?v=1.0.2"></script>

    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  
  <body class="flex flex-col min-h-screen font-sans text-slate-900 bg-white">
    
    {% block header %}
        {% include "includes/header.html" %}
    {% endblock header %}

    <main class="flex-grow">
        {% block content %}
        {% endblock content %}
    </main>

    {% include "includes/footer.html" %}
    
  </body>
</html>